*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* width: 100%; */
}

body {
  height: 100%;
  font-family: helvetica, arial, sans-serif;
  background-color: rgb(133, 193, 166);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#video-container {
  position: relative;
}

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  height: 100%;
  width: 100%;
}

#liveView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

button {
  transition-duration: 0.1s;
  border-radius: 10%;
  margin-top: 20px;
}

button:hover {
  background-color: #007f8b;
  color: white;
}

.output {
  display: none;
  font-size: calc(8px + 1.2vw);
  padding-bottom: 15px;
}

.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.invisible {
  opacity: 0.2;
}

#container {
  position: relative;
}

video,
canvas {
  position: absolute;
}

canvas {
  z-index: 1;
}
